CITY="Porto Alegre"
COMPUTEDIDSALT="OzcHbv0umbKJ0M3nJi4M+VaKQizpvrXEJuvkq+clrTs="
CONTACTGIVEN="Joao"
CONTACTMAIL="joao.silva@instituicao.edu.br"
CONTACTSUR="Silva"
DIRECTORY="OPENLDAP"
FTICKSSALT="BKMFfUtscbwDEXYV31ve9T6b5Vmz4pqf6XzG44ERYNc="
HN="idp"
HN_DOMAIN="instituicao.edu.br"
INITIALS="SIGLA"
IP="10.0.0.1"
LDAPADDOMAIN=""
LDAPATTR="uid"
LDAPDN="ou=people,dc=instituicao,dc=edu,dc=br"
LDAPFORM="uid=%s,dc=instituicao,dc=edu,dc=br"
LDAPPWD="+j0tolCyA5AxerZTfhtEP0+NXlZWLhjcKUqBXyUb3lc="
LDAPSERVER="ldap.instituicao.edu.br"
LDAPSERVERPORT="389"
LDAPSERVERPROTO="ldap://"
LDAPSERVERSSL="0"
LDAPSERVERSSLUSE="false"
LDAPSUBTREESEARCH="true"
LDAPUSER="cn=admin,dc=instituicao,dc=edu,dc=br"
MSG_AUTENTICACAO="Digite seu nome de usuário"
MSG_URL_RECUPERACAO_SENHA="https://perfil.instituicao.edu.br"
ORGANIZATION="Nome da Instituicao"
OU="Departamento"
PERSISTENTDIDSALT="uFQo1Uhs2Gw/5nVwcc/HRFMPMH1qp+Pq9xryNK8szaw="
STATE="RIO GRANDE DO SUL"
URL="www.instituicao.edu.br"
SMTP_NOME_AMIGAVEL="nome amigavel"
SMTP_EMAIL_ORIGINADOR="noreply@instituicao.edu.br"
SMTP_ASSINATURA="Grato"
CAPTCHA_KEY=
CAPTCHA_TOKEN=
URL_RECUPERACAO_SENHA="https://perfil.instituicao.edu.br"
PAINEL_ADMIN_NAME="João da Silva"
PAINEL_ADMIN_EPPN="1234567890ed8f1794b7e8abcdefghij"
PAINEL_ADMIN_EMAIL="eppn@instituicao.edu.br"
SMTP_HOST="mail.instituicao.edu.br"
SMTP_PORT=25
SMTP_USERNAME="mail@instituicao.edu.br"
SMTP_PASSWORD="123456"